@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}


.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-top: 0;
    height: 0;
    min-height: 0;
    overflow: visible; /* or hidden if you want to hide overflow */
  }

  .menu {
    position: static;
    margin-right: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
    width: auto;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 40px;    /* Adjust as needed */
    right: 24px;  /* Adjust as needed */
    z-index: 10;  /* Ensure it overlays */
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(45, 46, 48);
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
